body{
    padding:0;
    margin:0;
    /*font-family: 'Montserrat Alternates', sans-serif;*/
}
.box1{
    height:750px;
    width: 1350px;
    background-image: url(../images/aboutusimage7.jpg);
}
.box1 ul li{
    float:right;
    display: block;
    list-style: none;
    margin-right: 50px;
}
.box1 ul li a {
    font-size: 20px;
    padding:20px;
    color: white; 
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
}
.box1 h1{
    color:red;
    text-shadow: -3px -3px orange;
    font-size: 70px;
    position: relative;
    top:500px;
    left:400px;
    text-transform: capitalize;
}
.box2{
    height:400px;
    width:1350px;
}
.side1{
    height:400px;
    width:675px;
    background:white;
    float:left;
}
.side1 h1{
    font-size:40px;
}
.side1{
    font-size: 20px;
}
.side2{
    height:400px;
    width:675px;
    background:whitesmoke;
    float:left;
}
.side2 img{
    height:320px;
    width:600px;
    border:2px solid black;
    border-radius: 23px;
    margin-top:40px;
    margin-left:50px;

}
.box3{
    height:400px;
    width:1340px;
    background-image: url(../images/aboutusimage6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    float: left;

}
.box3 h1{
    margin-left:50px;
    font-size:50px;
    color:orangered;
    text-shadow: -2px -2px gray;
}
.box3 ul li{
    list-style: none;
    float: left;
    display: inline;
    height:18px;
    width:160px;
    padding-left:10px;
    font-size:18px;
    
}
.box3 ul li a{
    text-decoration: none;
    color:white;
    text-transform: capitalize;
}
.box3 ul li:hover{
    text-transform: uppercase;
    font-size:20px;
    text-shadow: -1px -1px black;
    
}
.box3 ul li>ul li{
    display:none;
    padding-left:1px;
    font-size: 13px;
}
.box3 ul li:hover>ul li{
    display: block;
    z-index: 1;
}