body{
   padding:0;
   margin:0;
}
h1{
   font-size: 40px;
   color:royalblue;
   margin-left: 150px;
text-transform: capitalize;
font-family: 'Permanent Marker', cursive;

}
.side1 {
   font-size:25px;
   text-align: center;
}
.side2 {
   font-size:25px;
   text-align: center;
}
.side3 {
   font-size:25px;
   text-align: center;
}
.side4 {
   font-size:25px;
   text-align: center;
}
.side4 img{
   height:300px;
   width:400px;
}
.link{
   text-align: center;
   color: royalblue;
   font-size:20px;
}
.side5 {
   font-size:25px;
   text-align: center;
}
.side5 img{
   height:300px;
   width:400px;
}
.box1{
   height:400px;
   width:1350px;
   background: wheat;
}
.side6{
   height:400px;
   width:650px;
   float: left;
   background: whitesmoke;
   box-shadow:0 0 30px black;
   border:3px solid black;
}
.side6 img{
   height:400px;
   width:675px;
   float: left;
   margin: 10px;
   
}
.side7{
   height:400px;
   width:650px;
   float: left;
   background: whitesmoke;
   box-shadow:0 0 30px black;
   border: 3px solid black;
}
.side7 img{
   height:400px;
   width:675px;
   float: left;
   margin:10px;
}
.container{
   height:500px;
   width:1350px;
   background:orange;
}
.head1{
   height:250px;
   width:1350px;
   border:1px solid black;
}
.head1 img{
   height:250px;
   width:332px;
}
.head2{
   height:250px;
   width:1350px;
   border:1px solid black;
}
.head2 img{
   height:250px;
   width:332px;
}